name: pre-commit

on:
  push:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - uses: pre-commit/action@v3.0.0
